version: '3.1'
services:
  web:
    image: odoo:13.0
    depends_on:
      - db
    ports:
      - "8077:8069"  
    volumes:
      - ./custom_addons:/mnt/extra-addons  
      - odoo-web-data:/var/lib/odoo
    environment:
      - HOST=db
      - USER=odoo
      - PASSWORD=odoo

  db:
    image: postgres:13
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD=odoo
      - POSTGRES_USER=odoo
    volumes:
      - odoo-db-data:/var/lib/postgresql/data

volumes:
  odoo-web-data:
  odoo-db-data: